.strategypoint {
	-moz-box-shadow:inset 0px -3px 7px 0px #ff4242;
	-webkit-box-shadow:inset 0px -3px 7px 0px #ff4242;
	box-shadow:inset 0px -3px 7px 0px #ff4242;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f52e2e), color-stop(1, #fa0a0a));
	background:-moz-linear-gradient(top, #f52e2e 5%, #fa0a0a 100%);
	background:-webkit-linear-gradient(top, #f52e2e 5%, #fa0a0a 100%);
	background:-o-linear-gradient(top, #f52e2e 5%, #fa0a0a 100%);
	background:-ms-linear-gradient(top, #f52e2e 5%, #fa0a0a 100%);
	background:linear-gradient(to bottom, #f52e2e 5%, #fa0a0a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f52e2e', endColorstr='#fa0a0a',GradientType=0);
	background-color:#f52e2e;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #3c521e;
	display:inline-block;
	cursor:pointer;
	color:#f5f5f5;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.strategypoint:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fa0a0a), color-stop(1, #f52e2e));
	background:-moz-linear-gradient(top, #fa0a0a 5%, #f52e2e 100%);
	background:-webkit-linear-gradient(top, #fa0a0a 5%, #f52e2e 100%);
	background:-o-linear-gradient(top, #fa0a0a 5%, #f52e2e 100%);
	background:-ms-linear-gradient(top, #fa0a0a 5%, #f52e2e 100%);
	background:linear-gradient(to bottom, #fa0a0a 5%, #f52e2e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa0a0a', endColorstr='#f52e2e',GradientType=0);
	background-color:#fa0a0a;
}
.strategypoint:active {
	position:relative;
	top:1px;
}

